/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
}

/* VARIABLES
COMMONS */

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

:root{
    --sidebar: #000000;
    --header: #080B12 ;
    --navbot: #282828 ;
    --main: #141922;
}

ul {
    list-style-type: none;
}

.flex-main {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;       
}

.flex-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

.flex-bot {
    display: flex;
    justify-content: space-between;
    
}


/* ################################################################# */
                        /* DESKTOP FIRST VIEW max-width: 1200px */
/* #################################################################### */

/* ALL MAIN WRAPPER */

#wrapper {
    /* max-width: 1200px; */
    width: 100%;
    height: 100vh;
    position: fixed;
    /* debug */
    background-color: rgb(75, 75, 12);
}

/* -------------------------------------------------------------- */

/* BOT NAV COMANDS */

#nav-bot {
    width: 100%;
    height: 100px;
    background-color: var(--navbot);
    /* debug */
    border: 1px solid green;
}

#nav-bot > * {
    border: 1px solid red;
    margin: 10px 40px;
}


/* ------------------------------------------------------------------- */

/* LEFT LATERAL BAR */

#side-bar {
    width: 200px;
    height: 100%;
    background-color: var(--sidebar);
    /* debug */
    /* border: 1px solid green; */
}

#side-bar > * {
    margin: 0 10px;
    /* debug */
    /* border: 1px solid red; */
}

#install {
    justify-self: flex-end;    
}

#menu > *, #logo, #playlist  * {
    margin: 10px 0;
}

#playlist i {
    background-color: white;
    color: black;
    font-size: 1.5em;
    vertical-align: middle;    
}

#side-bar hr {
    margin: 10px auto;
    width: 100%;
}



/* --------------------------------------------------------------------*/


/* MAIN SECTION WITH ALBUM */

main {
    width: 100%;
    height: calc(100% - 100px);
    background-color: var(--main);
    /* debug */
    border: 1px solid peru;
}



#main {
    width: calc(100% - 200px);
    height: 100%;
    border: 1px solid red;
    overflow-y: auto;
    position: relative;

}

#main header {
    text-align: end;
    height: 90px;
    line-height: 90px;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 999;
    top: 0;
    opacity: .5;    
    background-color: var(--header);
    padding-right: 50px ;
    /* debug */
    /* border: 1px solid yellow; */
}

#main header > a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
}

#main nav {
    margin: 100px auto;
    text-align: center;
    color: white;
    /* debug */
    border: 1px solid black;
} 

#main .head-title {
    border: 1px solid green;
    display: inline-block;
    margin: 40px 0;
    
}

.card {
    border: 1px solid red;
    width: calc(100% / 6 - 10px);
    margin-left: 10px;
}


/* ################################################################# */
                        /* <= 1100px VIEW  */
/* #################################################################### */
@media  screen and (max-width:1100px) {
    
}










/* ################################################################# */
                        /* <=700px VIEW  */
/* #################################################################### */
@media  screen and (max-width:700px) {
    
}






/* ################################################################# */
                        /* <=600px VIEW  */
/* #################################################################### */
@media  screen and (max-width:600px) {
    
}


