/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
}

/* VARIABLES
COMMONS */

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

:root{
    --sidebar: #000000;
    --header: #080B12 ;
    --navbot: #282828 ;
    --main: #141922;
}

ul {
    list-style-type: none;
}

.flex-main {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;       
}

.flex-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

.flex-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: .8rem;
}

.flex-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-card-bot {
    display: flex;
    gap: 10px;
    align-items: center;
    
}



/* ################################################################# */
                        /* DESKTOP FIRST VIEW max-width: 1200px */
/* #################################################################### */

/* ALL MAIN WRAPPER */

#wrapper {
    /* max-width: 1200px; */
    width: 100%;
    height: 100vh;
    position: fixed;
    /* debug */
    /* background-color: rgb(75, 75, 12); */
}

/* -------------------------------------------------------------- */

/* BOT NAV COMANDS */

#nav-bot {
    width: 100%;
    height: 100px;
    background-color: var(--navbot);
    /* debug */
    /* border: 1px solid green; */
}

#nav-bot > * {
    margin: 10px 20px;
    /* debug */
    /* border: 1px solid red; */
}

#currently *, #play *, #comand *{
    cursor: pointer;
}


#nav-bot #currently {
    width: 300px;
}
#nav-bot #comand {
    width: 180px;
}

#nav-bot #play{
    width: 40%;
    padding: 10px 0;
    align-items: center;
}

#currently i {
    margin: 0 10px;
}

.card-bot #sinister {
    max-width: 30%;
    min-width: 30%;
}

#comand #volume {
    width: 30px;
    height: 3px;
    background-color: white;
    display: inline-block;
}

#comand #under-volume{
    width: 50px;
    height: 3px;
    background-color: #466448;
}

#currently .description {
    font-size: .8rem;
}

#progress {
    max-width: 100%;
}

#comand-play {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 100%;
    
}


/* HO VOLUTO USARE STO TRUCCHETTO PER NON ESAURIRMI */
.bar {
    display: flex;
    
}
#progress-bar {
    width: 60px;
    height: 4px;
    background-color: white;
    display: inline-block;
    
}

#under-bar {
    width: 200px;
    height: 4px;
    background-color: rgb(133, 100, 100);    
}


#comand > * {
    margin: 0 4px;
}

#comand-play i:nth-child(3) {
    font-size: 1.6rem;
}

/* ------------------------------------------------------------------- */

/* LEFT LATERAL BAR */

#side-bar {
    width: 200px;
    height: 100%;
    background-color: var(--sidebar);
    /* debug */
    /* border: 1px solid green; */
}

#logo-small{
    display: none;
}

#side-bar > * {
    padding: 0 10px;
    /* debug */
    /* border: 1px solid red; */
}

#menu li > img {
    width: 30px; 
    vertical-align: middle;
}



#install > a {
    display: flex;
    gap: 10px;
    align-items: center;
}

#install div{
    width: 30px;    
}

#install {
    justify-self: flex-end;    
}

#reserve, #reserve2 {
    display: none;
}

#menu > *, #logo, #playlist  * {
    margin: 10px 0;
}

#playlist i {
    background-color: white;
    color: black;
    font-size: 1.5em;
    vertical-align: middle;    
}

#side-bar hr {
    margin: 10px auto;
    width: 100%;
}



/* --------------------------------------------------------------------*/


/* MAIN SECTION WITH ALBUM */

main {
    width: 100%;
    height: calc(100% - 100px);
    background-color: var(--main);
    /* debug */
    border: 1px solid peru;
}



#main {
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    position: relative;
    /* padding: 10px 20px; */
    /* debug */
    /* border: 1px solid red; */

}

#main > *:not(header) {
    padding: 10px 20px;
}

#main header {
    text-align: end;
    height: 90px;
    line-height: 90px;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 999;
    top: 0;
    opacity: .5;    
    background-color: var(--header);
    padding-right: 50px ;
    /* debug */
    /* border: 1px solid yellow; */
}

#main header > a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
}

#main ul {
    margin: 100px auto;
    text-align: center;
    color: white;
    /* debug */
    /* border: 1px solid black; */
} 

#main hr {
    width: 60%;
    margin: 0 auto;
    border: 1px solid yellowgreen;
}



.row1, .row2, .row3 {
    margin: 30px 0;
}

.card {
    cursor: pointer;  /*for to appear hand in card*/
    width: calc(100% / 6 - 10px);
    /* debug */
    /* border: 1px solid red; */
}

.card h4, .card h5 {
    text-align: center;
    margin: 10px 0;
} 

.row3 img {
    border-radius: 50%;
}


/* ################################################################# */
                        /* <= 1100px VIEW  */
/* #################################################################### */
@media  screen and (max-width:1100px) {
    .card {
        width: calc(100% / 4 - 10px);
    }
    
}




/* ################################################################# */
                        /* <=700px VIEW  */
/* #################################################################### */
@media  screen and (max-width:700px) {
    .card {
        width: calc(100% / 2 - 10px);
    }
    
    .main li{
        width: calc(100% / 3 - 10px);
    }

    #main .flex-nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}





/* ################################################################# */
                        /* <=600px VIEW  */
/* #################################################################### */
@media  screen and (max-width:600px) {

    #main, #main header {
        width: calc(100% - 50px);
    }
    
    #side-bar {
        width: 50px;
        align-items: center;
    }   

    #logo-normal {
        display: none;
    }

    #logo-small {
        display: block;
        width: 30px;
    }
    
    #playlist {
        display: none;
    }

    #menu li {
        width: 30px;
    }

    #menu li > span {
        display: none;
    }

    #install a {
        display: none;
    }

    #install #reserve, #install #reserve2 {
        width: 30px;
        display: block;
    }

    

    
}


