/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: white;
}

/* VARIABLES
COMMONS */

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

:root{
    --sidebar: #000000;
    --header: #080B12 ;
    --navbot: #282828 ;
    --main: #141922;
}

ul {
    list-style-type: none;
}

.flex-main {
    display: flex;
}

.flex {
    display: flex;
    flex-wrap: wrap;       
}

.flex-v {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}





/* ################################################################# */
                        /* DESKTOP FIRST VIEW  */
/* #################################################################### */


#wrapper {
    width: 100%;
    height: 100vh;
    /* debug */
    /* background-color: rgb(75, 75, 12); */
}

#nav-bot {
    width: 100%;
    height: 80px;
    background-color: var(--navbot);
    /* debug */
    border: 1px solid green;
}

main {
    width: 100%;
    height: calc(100% - 80px);
    background-color: var(--main);
    /* debug */
    border: 1px solid peru;
}

#side-bar {
    width: 150px;
    height: 100%;
    background-color: var(--sidebar);
    /* debug */
    border: 1px solid green;
}



#main {
    width: calc(100% - 150px);
    height: 100%;
    border: 1px solid red;
    overflow-y: auto;

}

#main header {
    text-align: end;
    height: 30px;
    z-index: 999;
    top: 0;
    right: 0;
    /* debug */
    border: 1px solid yellow;
}

#main nav {
    text-align: center;
    color: white;
    /* debug */
    border: 1px solid black;
} 

#main .head-title {
    border: 1px solid green;
    display: inline-block;
    margin: 10px 0 10px 10px;
    
}

.card {
    border: 1px solid red;
    width: calc(100% / 6 - 10px);
    margin-left: 10px;
}

